# vim-like Bindings

# Generic
bind generic l select-entry
bind generic <right> select-entry
bind generic <Home> top-page
bind generic <End> bottom-page

# Index
bind index l display-message
bind index h change-folder
bind index <right> display-message
bind index <left> change-folder
bind index H display-toggle-weed
# bind index m set-flag
# bind index M clear-flag

bind index gg first-entry
bind index G last-entry
# macro index , '<change-folder>!^M'
# macro index I '<tag-pattern>~N^M<tag-prefix><toggle-new><tag-prefix><tag-entry>'
macro index gy <set-flag>!

# Pager
macro pager \cb <pipe-entry>'urlview'<enter> 'Follow links with urlview'
bind pager <f1> help
bind pager / search
bind pager ? search-reverse
#bind pager n search-next # this is the default
bind pager N search-opposite
bind pager j next-line
bind pager k previous-line
bind pager h exit
bind pager l view-attachments
bind pager <down> next-line
bind pager <up> previous-line
bind pager <left> exit
bind pager <right> view-attachments
bind pager H display-toggle-weed

bind pager gg top
bind pager G bottom

# Attach
bind attach l view-attach
bind attach h exit
bind attach <right> view-attach
bind attach <left> exit
bind attach H display-toggle-weed

# Compose
bind compose l view-attach
bind compose <right> view-attach


#================================================
# macro  --macro menu key sequence [description]
# macro browser,index G "<shell-escape>~/.getmail/getmail<enter>" "Invoke getmail"
macro browser,index I "<shell-escape>~/.getmail/getmail<enter>" "Invoke getmail"

#enter mailbox
macro index,pager ga "<change-folder>=archives<enter>" "Go to Archives"
macro index,pager gi "<change-folder>=inbox<enter>" "Go to Inbox"
macro index,pager gf "<change-folder>=favorites<enter>" "Go to Favorites"
macro index,pager gj "<change-folder>=junk<enter>" "Go to Junk"

#  vim: ft=muttrc:et:sw=2:ts=4:sts=4:tw=79
