# -*- muttrc -*-
#
# List of folders that are considered to be "mailboxes" (folders that
# receive incoming mail).
#

#mailboxes ! + `\
#for folder in ~/.Mail/*; do \
#    if [ -x $folder]; then \
#        box=$(basename "$folder"); \
#        echo -n "\"+$box\" "; \
#    fi; \
#done`
mailboxes `echo ~/.mail/*`
